#backRed{
  background-color: red;
}

#backYellow{
  background-color: yellow;
}

#centerText{
  background-color: gray;
}

#backGreen{
  background-color: green;
}

#backBlue{
  background-color: blue;
}
